


.header{
    text-align: center;
}
.cart-img{
    width: 100px;
    height: 100px; 
}
.inner-cart{
    display: flex;

}
.products{
    flex: 3;
    padding: 10px;
    height: auto;
    border: 1px solid black;
    margin: 10px;

}
.total{
    flex: 1;
    height: auto;
    padding: 10px;
    border: 1px solid black;  
    margin: 10px;
  
}