.footer {
    padding: 20px 10px 10px 10px;
    background-color: black;
    border-top: 1px solid black;
    display: flex;
    color: white;
    justify-content: space-between;
}
h2{
    font-size: small !important;
}

h3{
    font-size: small !important;
}