.footer {
    padding: 20px 10px 10px 10px;
    background-color: lightgray;
    border-top: 1px solid black;
    display: flexbox;
    margin-left: 16px;
    margin-right: 15px;
}

h2{
    text-align: right; 
}

h3 {
    text-align: left;
}